<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Url list</title>
</head>
<body>
<div>
    <h1>Urls</h1>
    <ul>
        <li>url1</li>
        <li>url2</li>
    </ul>
</div>
</body>
</html>